html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #202225;
  color: #fff
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


:root{
  --area-porta-altura: 310px;
  --area-porta-largura: 200px;
  --porta-selecionada: rgb(220, 187, 56);
  --porta-selecionada-hover: rgb(165, 135, 14);
  --porta-hover: rgb(175, 115, 59);
}